# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

List of popular languages for Data Science
- **Python**
- **R**
- **SQL** 
- **Julia**
- **SAS**
- **Scala**

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Scikit-Learn (sklearn)

| Data Science Tools     |
|:-----------------------|
| Jupyter Notebook       |
| RStudio                |
| Visual Studio Code     |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [5]:
minutes = 200
hours = minutes / 60

formatted_hours = "{:.2f}".format(hours)
print(formatted_hours)

3.33

## Author

Anu Radhakrishnan